@model UI.Models.CustomerInformationViewModel
@{
    ViewData["Title"] = "Customer Information From";
}
@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

<form enctype="multipart/form-data" action="" method="post">
<div class="container-fluid mt-3">
    <div class="row mt-3">
        <div class="col-auto" style="display:flex; padding-right:0px;">
            <fieldset>
                <legend>Customers</legend>
                <div class="d-flex flex-column">
                    <input type="submit" value="Add Customer" formaction="CustomerInformation/Index" class="btn btn-light text-start mt-1 mb-1 customer-button" style="background-color:#4673c8;color:black"/>
                    @for(int i = 0;i<Model.Customers.Count();i++)
                    {
                        <button type="submit" formaction="CustomerInformation/GoToCustomer/@Model.Customers[i].Id" class="btn btn-light text-start mt-1 mb-1 customer-button">@Model.Customers[i].CustomerName</button>
                    }              
                </div>
            </fieldset>
             
        </div>
        <div class="col" style="padding-left:0px">
            <fieldset>
                <legend></legend>
                <fieldset style="margin:revert; margin-left:-5px; margin-top:0px;">
                    <legend>Actions</legend>
                    <div class="container">
                        <div class="row">
                            @if (Model.State == 2)
                            {
                                <div class="col-auto">
                                    <input type="submit" value="Edit" formaction="CustomerInformation/EditCustomer/@Model.ChosenCustomer.Id" class="button-15"/>
                                </div>
                            }
                            @if (Model.State == 0 || Model.State == 1)
                            {
                                <div class="col-auto">
                                    <input type="submit" value="Save" formaction="CustomerInformation/SaveCustomer" class="button-15"/>
                                </div>
                            }
                            @if (Model.State == 2)
                            {
                                <div class="col-auto">
                                    <input type="submit" value="Delete" formaction="CustomerInformation/DeleteCustomer/@Model.ChosenCustomer.Id" class="button-15"/>
                                </div>
                            }
                            @if (Model.State == 1)
                            {
                                <div class="col-auto">
                                    <input type="submit" value="Cancle" formaction="CustomerInformation/GoToCustomer/@Model.ChosenCustomer.Id" class="button-15"/>
                                </div>
                            }
                        </div>                                              
                    </div>
                </fieldset>

                <fieldset style="margin:revert; margin-left:-5px; margin-top:10px;">
                    <legend>Basic Information</legend>

                    <div class="container-fluid text-start" style="display:table">
                        <div class="row" style="display:table-row">
                            <div class="col-auto" style="display:table-cell;">
                                <label class="mlabel">NAME:</label>
                            </div>
                            <div class="col-auto" style="display:table-cell;">
                                @if(Model.State == 2)
                                {
                                    <label class="mlabel">@Model.ChosenCustomer.CustomerName</label>
                                }
                                else
                                {
                                    <input asp-for="@Model.ChosenCustomer.CustomerName" type="text" class="form-control mtextbox"  placeholder="Enter Name Text"/>
                                }
                            </div>
                        </div>
                        <div class="row" style="display:table-row">
                            <div class="col-auto" style="display:table-cell">
                                <label class="mlabel">FATHER NAME:</label>
                            </div>
                            <div class="col-auto" style="display:table-cell;">
                                @if (Model.State == 2)
                                {
                                    <label class="mlabel">@Model.ChosenCustomer.FatherName</label>
                                }
                                else
                                {
                                    <input asp-for="@Model.ChosenCustomer.FatherName" type="text" class="form-control mtextbox"  placeholder="Enter Name Text"/>
                                }
                            </div>
                        </div>  
                        <div class="row" style="display:table-row">
                            <div class="col-auto" style="display:table-cell">
                                <label class="mlabel">MOTHER NAME:</label>
                            </div>
                            <div class="col-auto" style="display:table-cell;">
                                @if(Model.State ==2)
                                {
                                    <label class="mlabel">@Model.ChosenCustomer.MotherName</label>
                                }
                                else
                                {
                                    <input asp-for="@Model.ChosenCustomer.MotherName" type="text" class="form-control mtextbox"  placeholder="Enter Name Text"/>
                                }
                            </div>
                        </div>  
                        <div class="row" style="display:table-row">
                            <div class="col-auto" style="display:table-cell">
                                <label class="mlabel">MARITAL STATUS:</label>
                            </div>
                            <div class="col-auto" style="display:table-cell;">
                                <div style="">
                                    <div class="" style="padding-left:20px;padding-top:8px ;display:flex; flex-direction:row">
                                        <div class="form-check container" style="padding-left:1px">
                                            @if(Model.State == 2)
                                            {
                                                if(Model.ChosenCustomer.MaritalStatus == 0)
                                                {
                                                    <label asp-for="@Model.ChosenCustomer.MaritalStatus" class="mlabel" style="margin-left:-20px;">Single</label>
                                                }
                                                else if(Model.ChosenCustomer.MaritalStatus == 1)
                                                {
                                                    <label asp-for="@Model.ChosenCustomer.MaritalStatus" class="mlabel" style="margin-left:-20px;">Married</label>
                                                }
                                                else
                                                {
                                                    <label asp-for="@Model.ChosenCustomer.MaritalStatus" class="mlabel" style="margin-left:-20px;">Others</label>
                                                }
                                            }
                                                else
                                                {
                                                    @if (Model.ChosenCustomer.MaritalStatus == 0)
                                                    {
                                                        <input asp-for="@Model.ChosenCustomer.MaritalStatus" value="0" type="radio" class="form-check-input mradio" checked/>
                                                    }else
                                                    {
                                                        <input asp-for="@Model.ChosenCustomer.MaritalStatus" value="0" type="radio" class="form-check-input mradio"/>

                                                    }
                                                    <label class="form-check-label radiolabel" style="margin-top:-10px;">SINGLE</label>
                                                }
                                        </div>
                                        <div class="form-check container" style="padding-left:1px">
                                            @if (Model.State != 2)
                                            {
                                                    @if (Model.ChosenCustomer.MaritalStatus == 1)
                                                    {
                                                        <input asp-for="@Model.ChosenCustomer.MaritalStatus" value="1" type="radio"class="form-check-input mradio" checked/>
                                                    }
                                                    else
                                                    {
                                                        <input asp-for="@Model.ChosenCustomer.MaritalStatus" value="1" type="radio"class="form-check-input mradio"/>
                                                    }
                                                    <label class="form-check-label radiolabel">MARRIED</label>
                                            }
                                        </div>
                                        <div class="form-check container" style="padding-left:1px">
                                            @if (Model.State != 2)
                                            {
                                                    @if (Model.ChosenCustomer.MaritalStatus == 2)
                                                    {
                                                        <input asp-for="@Model.ChosenCustomer.MaritalStatus" value="2" type="radio" class="form-check-input mradio" checked/>
                                                    }
                                                    else
                                                    {
                                                        <input asp-for="@Model.ChosenCustomer.MaritalStatus" value="2" type="radio" class="form-check-input mradio" />
                                                        
                                                    }
                                                    <label class="form-check-label radiolabel">OTHERS</label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="row" style="display:table-row">
                            <div class="col-auto" style="display:table-cell">
                                <label class="mlabel">COUNTRY:</label>
                            </div>
                            <div class="col-auto" style="display:table-cell;">
                                @if(Model.State == 2)
                                {
                                        
                                        <label asp-for="@Model.ChosenCustomer.Country.CountryName" class="mlabel">@Model.ChosenCustomer.Country.CountryName</label>
                                }
                                else
                                {
                                    <select asp-for="@Model.ChosenCustomer.Country.CountryName" class="mdb-select md-select2">
                                    @if (Model.State == 0)
                                    {
                                        <option value="" disabled selected>Enter Text</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.ChosenCustomer.Country.CountryName" selected>@Model.ChosenCustomer.Country.CountryName</option>
                                    }
                                    @for(int i = 0;i<Model.Countries.Count();i++)
                                    {
                                        <option value="@Model.Countries[i].CountryName">@Model.Countries[i].CountryName</option>
                                    }
                                    </select>
                                }
                            </div>
                        </div>  
                        <div class="row" style="display:table-row">
                            <div class="col-auto" style="display:table-cell">
                                <label class="mlabel">PHOTO:</label>
                                
                            </div>
                            <div class="col-auto" style="display:table-cell;">
                                @if(Model.State == 2)
                                {
                                    <img asp-for="@Model.Img" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ChosenCustomer.CustomerPhoto)"
                                        width="100" height="100" />
                                }
                                else
                                {
                                    <input asp-for="@Model.Img" type="file" class="form-control fileinput" />
                                    @if(Model.State == 1)
                                    {
                                        <img  asp-for="@Model.Img" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ChosenCustomer.CustomerPhoto)"
                                            width="100" height="100" />
                                    }
                                }
                            </div>
                        </div>  
                    </div>
                </fieldset>

                <fieldset style="margin:revert; margin-left:-5px; margin-top:10px; padding-right:20px;">
                    <legend>Other Infomation</legend>
                        @if (Model.State != 2)
                        {
                            <button id="btnAdd" value="Add" type="button" class="button-15" style="font-size:10px; margin-left:10px;">Add</button>
                        }
                        <table id="infoTable" class="table border border-dark text-center table-bordered" style="margin:10px;">
                        <thead>
                            <tr>
                                <td>
                                    <label  style="font-size:10px; color:#4673c8;font-weight:600">Address</label>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.State==2)
                            {
                                @for (int i = 0; i < Model.ChosenCustomer.CustomerAddresses.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            <label class="mlabel">@Model.ChosenCustomer.CustomerAddresses[i].CustomerAddress1</label>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @if (Model.State == 0)
                                {
                                        <tr>
                                            <td align="center">
                                                @if(true)
                                                {
                                                    Model.ChosenCustomer.CustomerAddresses.Add(new Models.Model.CustomerAddress());
                                                    
                                                    <input asp-for="@Model.ChosenCustomer.CustomerAddresses[0].CustomerAddress1"
                                                        type="text" class="form-control mtextbox"  placeholder="Enter Address"/>
                                                }
                                            </td>
                                        <td align="center" width="65px">
                                            <button type="button" class="button-15" style="margin:0px;" onclick="Remove(this)">Delete</button>
                                        </td>
                                    </tr>
                                }
                                @if (Model.State == 1)
                                {
                                    @for (int i = 0; i < Model.ChosenCustomer.CustomerAddresses.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <input asp-for="@Model.ChosenCustomer.CustomerAddresses[i].CustomerAddress1" 
                                                    type="text" class="form-control mtextbox"  placeholder="Enter Address"/>
                                            </td>
                                            <td>
                                                <button type="button"  style="margin:0px;" class="button-15"  onclick="Remove(this)">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </fieldset>

            </fieldset>
        </div>
    </div>
</div>
    <input asp-for="@Model.Img" value="@Model.Img" hidden />
    <input asp-for="@Model.ChosenCustomer.Country.CountryName" hidden/>
    <input asp-for="@Model.ChosenCustomer.Id" hidden/>
    <input asp-for="@Model.State" hidden/>
    @if (Model.State == 0)
    {
        <input id="hiddenInput" value="0" hidden/>
    }
    @if (Model.State == 1)
    {
        <input id="hiddenInput" value="@(Model.ChosenCustomer.CustomerAddresses.Count()-1)" hidden/>
    }
</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
        $("body").on("click", "#btnAdd", function () {
 
            //Get the reference of the Table's TBODY element.
            var tBody = $("#infoTable > TBODY")[0];
 
            //Add Row.
            var row = tBody.insertRow(-1);

            //Add Object
            @if (true)
            {
                Model.ChosenCustomer.CustomerAddresses.Add(new Models.Model.CustomerAddress());                
            }
            var hiddenElement = document.getElementById('hiddenInput');  
            var value = parseInt(hiddenElement.getAttribute("value"), 10) + 1;
            hiddenElement.setAttribute("value", value);
 
            //Add Address cell.
            var cell = $(row.insertCell(-1));
            cell.attr("align","center")

            var txtBox = $("<input />");
            txtBox.attr("type", "text");
            txtBox.attr("class", "form-control");
            txtBox.addClass("mtextbox");
            txtBox.attr("placeholder", "Enter Address");
            txtBox.attr("data-val", "true");
            txtBox.attr("data-val-length", "The field CustomerAddress1 must be a string with a maximum length of 500.");
            txtBox.attr("data-val-length-max", "500");
            //txtBox.attr("data-val-required", "The CustomerAddress1 field is required.");
            txtBox.attr("id", "ChosenCustomer_CustomerAddresses_" + value.toString() + "__CustomerAddress1");
            txtBox.attr("name", "ChosenCustomer.CustomerAddresses[" + value.toString() + "].CustomerAddress1");

            cell.append(txtBox);

 
            //Add Delete cell.
            var cell = $(row.insertCell(-1));
            cell.attr("align","center")
            cell.attr("width","65px")

            var btn = $("<input />");
            btn.attr("type", "button");
            btn.attr("class", "button-15");
            btn.attr("style","margin:0px;")
            btn.attr("onclick","Remove(this)")
            btn.val("Delete")
            cell.append(btn);

        });
 
        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var table = $("#infoTable")[0];

            var hiddenElement = document.getElementById('hiddenInput');  
            var value = parseInt(hiddenElement.getAttribute("value"), 10) - 1;
            hiddenElement.setAttribute("value", value);
 
            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);

            for (var i = 1, row; row = table.rows[i]; i++) {
                var cell = row.cell[0];
                var txtBox = cell.getElementByClassName("mtextbox");
                txtBox.setAttribute("id", "ChosenCustomer_CustomerAddresses_" + (i-1).toString() + "__CustomerAddress1");
                txtBox.setAttribute("name","ChosenCustomer.CustomerAddresses[" + (i-1).toString() + "].CustomerAddress1")
            }
                                   
        };
 
        $("body").on("click", "#btnSave", function () {
            //Loop through the Table rows and build a JSON array.
            var customers = new Array();
            $("#tblCustomers TBODY TR").each(function () {
                var row = $(this);
                var customer = {};
                customer.Name = row.find("TD").eq(0).html();
                customer.Country = row.find("TD").eq(1).html();
                customers.push(customer);
            });
 
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Home/InsertCustomers",
                data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        });
    </script>
                
